<div class="ui three doubling stackable cards">
    <div class="ui card">
      <div class="image">
        <div class="ui placeholder">
          <div class="square image"></div>
        </div>
      </div>
      <div class="content">
        <div>
            <p>{{pregunta}}</p>
        </div>
      </div>
      <div class="extra content ui centered grid">
        <div class="ui primary button" [routerLink]="['']">Si</div>
        <div class="ui button" [routerLink]="['']">No</div>
      </div>
    </div>
  </div>
